<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for ContactData</h1>

<f:flashMessages />

<table  class="tx_hiveextcontactdata" >
	<tr>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.backendtitle" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.title" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.phone" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.fax" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.mobile" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.email" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.website" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.facebook" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.twitter" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.googleplus" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.linkedin" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.instagram" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.xing" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.wechat" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.skype" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.youtube" /></th>
		<th><f:translate key="tx_hiveextcontactdata_domain_model_contactdata.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{contactDatas}" as="contactData">
		<tr>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.backendtitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.mobile}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.website}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.facebook}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.twitter}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.googleplus}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.linkedin}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.instagram}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.xing}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.wechat}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.skype}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.youtube}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contactData : contactData}"> {contactData.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{contactData : contactData}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{contactData : contactData}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New ContactData</f:link.action>
</f:section>
</html>